/** RESET STYLES */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  margin: 0;
  padding: 0;
  border: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/** FONTS */
@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body * {
  font-family: 'Lato', sans-serif;
}

body {
  background: #1f2937;
}

body.no-scroll {
  overflow: hidden;
}

/** HEADER */
.header {
  display: flex;
  align-items: center;
  gap: 36px;
  background: #374151;
  padding: 0 20px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
  height: 48px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo__image {
  width: 36px;
  height: 36px;
}

.logo__text {
  color: white;
  font-weight: 600;
  white-space: nowrap;
}

.menu {
  display: flex;
}

.menu.open {
  opacity: 1;
  visibility: visible;
  height: 100vh;
}

.menu button {
  background: none;
  border: none;
  color: white;
  font-size: 14px;
}

.menu__item {
  padding: 14px;
}

.menu__close,
.menu__lines {
  display: none;
}

.menu__line {
  width: 25px;
  height: 3px;
  background: black;
}

.menu__item__active,
.menu__item:hover {
  background: #030712;
}

.menu__item:hover,
.menu__button:hover {
  cursor: pointer;
  transition: all 0.4s ease-out;
}

@media only screen and (max-width: 500px) {
  .header {
    display: flex;
    justify-content: space-between;
  }

  .menu {
    opacity: 0;
    visibility: hidden;
    transition:
      height 0.5s ease,
      opacity 0.5s ease,
      visibility 0.5s ease;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background: black;
    z-index: 5;
    height: 0px;
    width: 100%;
  }

  .menu__item {
    width: inherit;
    text-align: center;
  }

  .menu button {
    font-size: 48px;
  }

  .menu__close {
    position: fixed;
    color: white;
    top: 40px;
    right: 40px;
    font-size: 48px;
    display: inline-block;
  }

  .menu__lines {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .menu__item__active,
  .menu__item:hover {
    background: #374151;
  }
}

/** MAIN */
.main {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/** GAME */
.game {
  position: relative;
}

.game .block {
  position: absolute;
  top: 0;
  /** Canvas width + space between items */
  left: calc(360px + 40px);

  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 320px;
}

.block__title,
.block__record,
.block__description {
  text-align: center;
}

@media only screen and (max-width: 1240px) {
  .game .block {
    position: unset;
    margin-top: 40px;
  }
}

/** UI */
.block {
  padding: 20px;
  background: #4b5563;
  border-radius: 3px;
}

/** CANVAS */
#canvas {
  background: url('src/game/assets/game-background.webp');
  border-radius: 3px;
}
